@import '../../styles/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    height: 60px;
    width: 100vw;
    background: $primary;
  }

  .form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: $background;
    align-items: center;
    padding: 1rem;

    h2 {
      font-size: 2.2rem;
      align-self: flex-start;
    }

    .error {
      color: $red;
      margin-top: 1rem;
      font-size: 1rem;
    }

    .submit {
      width: 100vw;
      max-width: 100%;
      margin-top: 2rem;
      border-radius: 25px;
      line-height: 50px;

      &:disabled {
        background-color: $backgroundDisabled;
        color: $colorDisabled;
        &:hover {
          opacity: 1;
        }
      }
    }

    .convertionResult {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
      padding: 0.8rem;
      width: 100vw;
      max-width: 100%;
      border-radius: 25px;
      background: $yellow;

      p {
        font-size: 1.5rem;
        color: $white;
      }
    }

    h3 {
      font-size: 1.4rem;
      margin-top: 2rem;
      text-align: center;
    }
  }
}

@media (min-width: 700px) {
  .home {
    .form {
      padding: 3rem;

      .error {
        margin-top: 1.2rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 1100px) {
  .home {
    .form {
      width: 60vw;
      padding: 2rem 10rem;

      h2 {
        font-size: 3.6rem;
      }

      .error {
        margin-top: 1.6rem;
      }

      .submit {
        width: 50vw;
        max-width: 50%;
        margin-top: 5rem;
        border-radius: 25px;
      }

      .convertionResult {
        padding: 1.2rem;
        border-radius: 25px;
      }

      h3 {
        font-size: 1.8rem;
      }
    }
  }
}
