$white : #fff;
$black : #000;
$background: rgba(255,255,255,0.7);
$primary: #483D8B;
$primaryDark: #560027;
$primaryLight: #bc477b;
$backgroundDisabled: #ccc;
$colorDisabled: #666;
$green: #0f0;
$blue: #00f;
$red: #f00;
$yellow: #daa520;
$valid: #080;
$button-background-enabled: #483D8B;
$button-background-disabled: #ddd;
